<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
</head>
<body>
    <h1>Welcome to BankUnify</h1>
    {% if user.is_authenticated %}
        <p>Hello, {{ user.username }}! Go to your <a href="{% url 'profile' %}">profile</a>.</p>
        <p><a href="{% url 'bank-account-add' %}">Add a new bank account</a></p>
        <p><a href="{% url 'bank-account-list' %}">View my bank accounts</a></p>
    {% else %}
        <p>You are not logged in. <a href="{% url 'login' %}">Login</a></p>
    {% endif %}
</body>
</html>
